<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com/3.3.0"></script>
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
            fontFamily: {
                sans: ["Roboto", "sans-serif"],
                body: ["Roboto", "sans-serif"],
                mono: ["ui-monospace", "monospace"],
            },
            },
            corePlugins: {
            preflight: false,
            },
        };
    </script>
</head>
<body class="bg-gray-200 text-center">
    <div >
        <h1 class="text-gray-700 text-9xl">Welcome to LMS</h1>
        <div class="m-9">
            <a href="/instructor/login" class="bg-gray-700 hover:bg-gray-900 text-gray-100 p-3 m-3 rounded text-6xl">Instructor</a>
            <a href="/principal/login" class="bg-gray-700 hover:bg-gray-900 text-gray-100 p-3 m-3 rounded text-6xl">Principal</a>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>
</html>